.size {
    height: 70px;
}

.nav {
    display: flex;
    flex-direction: row;
}

.link {
    text-decoration: none;
    width: 150px;
}

.form {
    width: 250px;
}

.hamburger {
    width: 150px;
}