#ind-card-post-item {
  margin-left: 10%;
  margin-top: 10px;

}

#left-card {
  padding-top: 20px;

}

#card-title-list-item {
  padding-left: 20px;
  text-decoration: none;
  color: black;
}

#p-small-info {
  color: rgba(121, 120, 120, 0.698);
  font-size: 13px;
  padding-left: 20px;
}

.likes{
  display: flex;
  gap: .5rem;
 justify-content: space-between;
  padding: .2rem 2rem;
}
.icon{
  width: 20px !important;
  height: 15px !important;
}

